<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>Espaços</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/grayscale.css" rel="stylesheet">


  <body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="index.html">Paint4All</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="espacos.html">Espaços</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="patrocinadores.html">Patrocinadores</a>
            </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html">Quem somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contactos">Contactos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger">Login</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  
  <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Espaços</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
          <button type="button" class="btn js-scroll-trigger bg-cinza text-verde" data-toggle="modal" data-target="#myModalNewSpace">Registe o seu espaço</button>
        </div>
      </div>
    </header> 
    </section>

    <div class="container">

        <h1 class="my-4">Todos os Nossos Espaços
         </h1>
      
        <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
            <img class="card-img-top" src="img/extremepaint.png" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="extremepaint.html">ExtremePaint</a>
                </h4>
                <p class="card-text">Gandorinha, Santo Tirso</p>
                <img src="img/4,5estrelas.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/paintball moreira.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="moreira.html">Paintball Moreira do Castelo</a>
                </h4>
                <p class="card-text">Moreira do Castelo, Braga</p>
                <img src="img/5estrelas.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/parque aventura.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Parque Aventura Heróis D'Adrenalina</a>
                </h4>
                <p class="card-text">Amarante, Porto</p>
                <img src="img/3,5estrelas.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/rangers.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="rangers.html">Rangers Póvoa Clube</a>
                </h4>
                <p class="card-text">Argivai, Póvoa de Varzim </p>
                <img src="img/4,5estrelas.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/geraçao aventura.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="geraçao aventura.html">Geração Aventura</a>
                </h4>
                <p class="card-text">Ermo, Penafiel</p>
                <img src="img/4,5estrelas.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/megapaint.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="megapaint.html">MegaPaintMan </a>
                </h4>
                <p class="card-text">Canidelo, Vila Nova de Gaia</p>
                <img src="img/4,5estrelas.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
            <img class="card-img-top" src="img/indoor.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="milicia.html">Milicia Urbana Indoor Paintball</a>
                </h4>
                <p class="card-text">Valadares, Vila Nova de Gaia</p>
                <img src="img/4,5estrelas.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/gaia.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="paintgaia.html">PaintGaia</a>
                </h4>
                <p class="card-text">Lever, Vila Nova de Gaia</p>
                <img src="img/4,5estrelas.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/emboscada.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="emboscada.html">Paintball Emboscada</a>
                </h4>
                <p class="card-text">Várzea, Santa Maria da Feira</p>
                <img src="img/4,5estrelas.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/megacampo.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="megacampo.html">MegaCampo</a>
                </h4>
                <p class="card-text">Sobral da Abelheira, Mafra.</p>
                <img src="img/4,5estrelas.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      


 <!-- Contact Section -->
  <section id="contactos" class="contact-section bg-green">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">paint4all@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Telefone</h4>
              <hr class="my-4">
              <div class="small text-black-50">253300653</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-instagram"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-green small text-center text-primary">
    <div class="container">
      Copyright &copy; Paint4All
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!--Custom scripts for this template --> 
  <script src="js/grayscale.min.js"></script>


</body>

</html>
