<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>Paintball Moreira do Castelo</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/grayscale.css" rel="stylesheet">


  <body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="index.html">Paint4All</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="espacos.html">Espaços</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="patrocinadores.html">Patrocinadores</a>
            </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html">Quem somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contactos">Contactos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger">Login</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  
  <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Paintball Moreira do Castelo</h1>
        </div>
      </div>
    </header> 
    </section>

    <!-- Page Content -->
<div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">Sobre Paintball Moreira do Castelo
        </h1>
        <p class="text-black-50 mb-0">""</p>
      
        
      
        <!-- Related Projects Row -->
        <h3 class="my-4">Comodidades</h3>
      
        <div class="row">
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="img/wifi-signal (1).png" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="img/locker.png" alt="">
                </a>
          </div>
      
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="img/parking-lot.png" alt="">
                </a>
          </div>

          <div class="col-md-3 col-sm-6 mb-4">
              <a href="#">
                    <img class="img-fluid" src="img/coffee-cup.png" alt="">
                  </a>
            </div>
      
        </div>
        <!-- /.row -->
      
      </div>
      <!-- /.container -->
      <p>
      </p>
      <!-- Portfolio Item Row -->
      <div class="row">
      
          <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11981.60763674223!2d-8.0747608!3d41.3436172!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x47de6e7fbc5dafad!2sPaintball%20Moreira%20Do%20Castelo!5e0!3m2!1spt-PT!2spt!4v1572973202580!5m2!1spt-PT!2spt" width="500" height="400" frameborder="0" style="border:0;" allowfullscreen="">
            </iframe>
          </div>
      
          <div class="col-md-5">
            <h3 class="my-3">Localização</h3>
            <p>Rua Da Gandarinha
              Refojos De Riba De Ave, Porto, 4825-308
            </p>
            <h3 class="my-3">Contactos</h3>
            <ul>
              <li>(+351) 931 498 160 </li>
              <li> (+351) 932 587 947</li>
              <li>geral@extremepaint.pt</li>
            </ul>
          </div>
      
        </div>
        <!-- /.row -->
      
      

    


 <!-- Contact Section -->
  <section id="contactos" class="contact-section bg-green">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">paint4all@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Telefone</h4>
              <hr class="my-4">
              <div class="small text-black-50">253300653</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-instagram"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-green small text-center text-primary">
    <div class="container">
      Copyright &copy; Paint4All
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!--Custom scripts for this template --> 
  <script src="js/grayscale.min.js"></script>


</body>

</html>
